<header class="header template__color">
  @@include('../header-top.html', {})
  <div class="container header-case">
    <div class="header-case__text">
      <div class="project__tags project__tags--case">
        <a href="#" title="Разработка" class="project__tag project__tag--white">Разработка</a>
        <a href="#" title="Дизайн" class="project__tag project__tag--white">Дизайн</a>
        <a href="#" title="SEO-продвижение" class="project__tag project__tag--white">SEO-продвижение</a>
        <a href="#" title="Интеграция с сервисами" class="project__tag project__tag--white">Интеграция с
          сервисами</a>
      </div>
      <h1 class="header-case__title title">Интернет-магазин мужской одежды «Estet-men»</h1>
      <a href="https://estet-men.ru" title="title" class="project__link">estet-men.ru</a>
    </div>
    <div class="header-case__img">
      <img src="@img/template/header.jpg" alt="Marestes Prive" weight="570px" height="547px">
    </div>
  </div>
</header>