.forma {
  background: #E8E8E8;
  padding: 80px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__box {
    display: flex;
    flex-direction: column;
    &:first-of-type {
      gap: 18px;
    }
    &:last-of-type {
      width: 404px;
      gap: 24px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 32%;
  }
  &__title {
    font-weight: 700;
    margin: 0;
    font-size: 50px;
    line-height: 64px;
    max-width: 450px;
    position: relative;
    &:after {
      content: url('../../../img/seo/target.png');
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 0;
    }
  }
  &__subtitle {
    margin: 0;
    max-width: 450px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  &__input {
    border: 1px solid #6F6F6F;
    border-radius: 4px;
    background: transparent;
    padding: 13px 20px;
  }
  &__btn {
    border: 2px solid #FD6C03;
    border-radius: 40px;
    color: var(--color-orange);
    padding: 16px;
    &:hover {
      color: white;
      background-color: var(--color-orange)
    }
  }

}
@media screen and (max-width: 768px) {
  .forma {
    padding: 60px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
    &__title {
      font-size: 34px;
      line-height: 42px;
      max-width: 280px;
      &:after {
        right: 0;
      }
    }
    &__box {
      &:first-child {
        align-items: center;
      }
    }
    &__subtitle {
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
@media screen and (max-width: 430px) {
  .forma {
    &__box:last-of-type {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .forma {
    &__img {
      display: none;
    }
  }
}