.case-more {
    background-color: var(--color-white);
}

.case-more__text {
    display: grid;
    gap: 30px;
    padding-bottom: 50px;
}

.case-more__title {}

.case-more__discription {
    margin: 0;
}

.case-more__img {
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

.case-more__img img{
    width: 100%;
    min-height: 154px;
}

.case-more__details {
    display: grid;
    gap: 30px;
    padding-bottom: 50px;
}

.case-more__wrap {
    display: grid;
    gap: 30px;
}

.case-more__subtitle {
    margin: 0;
}

.case-more__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and(min-width: 768px) {
    .case-more__text {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .case-more__discription {
        grid-column-start: 2;
    }

    .case-more__img {
        padding-bottom: 60px;
    }

    .case-more__wrap { 
        grid-template-columns: 1fr 1fr;
    }
    .case-more__details,
    .case-more__text {
        padding-bottom: 100px;
    }
}