.about {
    background-color: var(--color-gray);
}

.about__title {
    padding-bottom: 46px;
}

.stages__wrap {}

.stages__card {}

.about {
    .stages__card {
        grid-template-rows: none;
    }
}

@media screen and (max-width: 768px) {
    .about .stages__wrap {
        row-gap: 46px;
    }
}