.livepizza-preview__content img{
    width: 100%;
    min-height: 474px;
}

.livepizza-preview__content {
    padding-left: 0;
    padding-right: 0;
}

.livepizza-phone {
    background-color: var(--color-green);
}
